.section__partner {
  &--container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    @include respond(tab-port) {
      flex-direction: column;
    }
  }
}

.partners__logo {
  @include respond(tab-port) {
    transform: scale(0.7);
  }
  &--caption {
    display: none;
  }
}
