$color-white: #fff;
$color-dark: #000;
$color-primary-light: rgb(179, 152, 34);
$color-primary-dark: rgb(104, 76, 16);
$color-secondary-light: rgb(238, 69, 54);
$color-secondary-dark: rgb(146, 6, 6);

$color-grey-dark: rgb(71, 70, 70);
$color-grey-dark-2: rgb(63, 60, 60);
$color-grey-dark-3: rgb(41, 40, 40);

$color-grey-light-1: #a8a7a7;
$color-grey-light-2: #666363;

$default-font-size: 1.6rem;
