$color-white: #fff;
$color-dark: #000;
$color-primary-light: rgb(179, 152, 34);
$color-primary-dark: rgb(104, 76, 16);
$color-secondary-light: rgb(238, 69, 54);
$color-secondary-dark: rgb(146, 6, 6);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #b4b2b2;

$default-font-size: 1.6rem;
