.contact__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  border-bottom: solid 1px $color-grey-light-2;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 3px rgba($color-grey-light-2, 0.3);

  &--label {
    font-size: 2rem;
    font-weight: 700;
    display: block;
    color: $color-primary-dark;
  }

  &--input {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.8);
    color: $color-dark;
    width: 60%;
    display: block;
    border: none;
    text-align: center;

    @include respond(phone) {
      width: 90%;
    }

    &:focus {
      outline: none;
    }
  }
  &--text {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.8);
    color: $color-dark;
    width: 60%;
    display: block;
    border: none;
    border-bottom: 3px solid transparent;

    @include respond(phone) {
      width: 90%;
    }

    &:focus {
      outline: none;
    }
  }
  &--btn {
    background-color: rgba($color-white, 0.8);
    width: 50%;
    color: $color-secondary-dark;
    margin: 0 auto;
    font-weight: 700;
  }
}
.contact__input--set {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
